*{
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #FEFEFE;
	text-align: center;
	padding-top: 40px;
}

section {
	background: #4f673c;
	padding: 20px 0;
}

.img1 {
	cursor: pointer;
    position: relative;
	
	width: 49%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #072d00;
}

.img2 {
	cursor: pointer;
    position: relative;
	width: 49%;
	
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #072d00;
}




.caixa {
	width: 100%;
	height: 70px;
	margin: 20px;
	padding:50px;
	margin-left: 40px;
	background-color: #4f673c; 
}

.caixa ul {
	margin-left: 10px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 15px 15px 15px 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	background-color: #4f673c;
}








/* css da página inicial */
.banner {
	width:100%;
}


.principal {
	padding: 1em 0;
	background: #4f673c;
	width: 940px;
	margin: 0 auto;
}

.principal ul {
	display: inline-flex;
    flex-wrap: nowrap;
}
.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.contatos a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
}

.contatos a:hover {
	color: #C78C19;
	text-decoration: underline;
}
.contatos li {
	margin: 35px 35px 30px 160px ;
	padding: 3em 0
}

.iimg {
	width: 35px;
}

.wimg {
	width: 35px;
}

.recados {
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	margin: 160px 160px 45px 160px;
	padding: 3em 0
	
}

.parte-contatos {
	background-color: #BBBBBB;
	border-radius: 36px;
}

.tudo-contato{
	background-color: #000000;
}

.loguinho {
	
	font-size: 60px;
	font-weight: bold;
	color: #FEFEFE;
}

.banner:hover {
	width: 103%;
	height: 100%;
}

.img1:hover {
	width: 50%;
}
						

.img2:hover {
	width: 50%;
}

.img3:hover {
	width: 50%;
}

.principal ul p{
	background-color: #FEFEFE;
	border-radius: px;
	padding: 1em;
}

